<h1>Editar Forma de Pagamento</h1>

<%= render 'form', payment_method: @payment_method %>
<br>
<%= link_to 'Mostrar', @payment_method, class: "blue-grey btn waves-effect waves-light" %>
<%= link_to 'Voltar', payment_methods_path, class: "blue-grey btn waves-effect waves-light" %>
