<p id="notice"><%= notice %></p>
<h1>Forma de Pagamento</h1>
<p>
  <strong>Tipo:</strong>
  <%= @payment_method.name %>
</p>

<%= link_to 'Editar', edit_payment_method_path(@payment_method), class: "blue-grey btn waves-effect waves-light" %>
<%= link_to 'Voltar', payment_methods_path, class: "blue-grey btn waves-effect waves-light" %>
