<h1>Editar Origem de Venda</h1>

<%= render 'form', origin: @origin %>
<br>
<%= link_to 'Mostrar', @origin, class: "blue-grey btn waves-effect waves-light"  %>
<%= link_to 'Voltar', origins_path, class: "blue-grey btn waves-effect waves-light"  %>
