<p id="notice"><%= notice %></p>
<h1>Origem de Venda</h1>
<p>
  <strong>Origem:</strong>
  <%= @origin.name %>
</p>

<%= link_to 'Editar', edit_origin_path(@origin), class: "blue-grey btn waves-effect waves-light" %>
<%= link_to 'Voltar', origins_path, class: "blue-grey btn waves-effect waves-light" %>
