<h1>Editar Cliente</h1>

<%= render 'form', customer: @customer %>
<br>
<%= link_to 'Exibir', @customer, class: "blue-grey btn waves-effect waves-light" %>
<%= link_to 'Voltar', customers_path, class: "blue-grey btn waves-effect waves-light" %>
