<h1>Editar Encomenda</h1>

<%= render 'form', request: @request %>
<br>
<%= link_to 'Exibir', @request, class: "blue-grey btn waves-effect waves-light" %> 
<%= link_to 'Voltar', requests_path, class: "blue-grey btn waves-effect waves-light" %>
