.padz{
    padding: 0 !important;
}

.pre-line{
    white-space: pre-line;
}

.neg-margin15{
    margin-top: -1.5rem;
}

html, body{
    height: 100%;
}

#pdv_button{
    height: 100%;
    padding-top: 2rem;
}

#pdv_total{
    size: 3rem;
}