<h1>Editar Tipo de Despesa</h1>

<%= render 'form', expense_kind: @expense_kind %>

<br>
<%= link_to 'Mostrar', @expense_kind, class: "blue-grey btn waves-effect waves-light" %>
<%= link_to 'Voltar', expense_kinds_path, class: "blue-grey btn waves-effect waves-light" %>